$myColor: black;

.post:nth-child(1){
  width: 100%;
}

.post{
  width: 30%;
}

.post__title {
  color: $myColor;
  font-weight: 900;
  font-size: 3rem;
  te
}

.post__body {
}

.post__image{
  width: 100%;
}