$mainColor: black;
$secondaryColor: rgb(255, 255, 255);
$myFont: "Courier New", Courier, monospace;

.post:nth-child(7n-6) {
  width: 100%;
}

.post:nth-child(2),
.post:nth-child(3),
.post:nth-child(4) {
  background-color: rgb(212, 212, 212);
  padding: 1rem;
  color: #secondaryColor;
  text-decoration: underline;
  text-decoration-color: $secondaryColor;
}

.post {
  color: $mainColor;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 30%;
  cursor: pointer;
  margin: 1rem;
}

.post:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.post__title {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.post:nth-child(1) .post__title {
  font-size: 3rem;
}

.post:nth-child(7n-6) .post__image {
  height: 450px;
}

.post:nth-child(2) .post__image,
.post:nth-child(3) .post__image,
.post:nth-child(4) .post__image {
  display: none;
}

.post__image {
  width: 100%;
  height: 250px;
}

.post__body {
  display: none;
}
