$mainColor: black;
$secondaryColor: rgb(255, 255, 255);
$hoverColor: rgb(255, 161, 74);
$myFont: 'PT Sans', sans-serif;
$navColor: rgb(255, 161, 74);
$fontLarge: 2.5rem;
$fontMedium: 1.5rem;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body{
  font-family: $myFont!important;
}

.post {
  color: $mainColor;
  width: 30%;
  cursor: pointer;
  margin-top: 1rem;
}

.post:nth-child(7n-6) {
  width: 65%;
}

.post:nth-child(7n-5) {
  width: 32%;
}

.post:nth-child(7n-4) {
  width: 48%;
}

.post:nth-child(7n-3) {
  width: 48%;
}

.post--hover:hover {
  color: $hoverColor;
}

.post__title {
  font-weight: 600;
  font-size: $fontMedium;
  padding-left: 1rem;
  padding-right: 1rem;
}

.post__title::first-letter {
  text-transform: uppercase;
}

.post:nth-child(7n-6) .post__title {
  font-size: $fontLarge;
}

.post__image {
  width: 100%;
  height: 250px;
}

.post:nth-child(7n-6) .post__image, .post:nth-child(7n-5) .post__image {
  height: 450px;
}

.post:nth-child(7n-4) .post__image, .post:nth-child(7n-3) .post__image {
  height: 350px;
}

.post__body {
  font-size: $fontMedium;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.post__body--uppercase::first-letter{
  text-transform: capitalize;
}

.link{
  color: initial;
  text-decoration: initial;
}

.link:hover{
  color: $hoverColor;
}

.comment{
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.comment__username{
  color: rgb(0, 89, 172);
  font-weight: 600;
}

.comment__name:first-letter{
  text-transform: capitalize;
}

.comment__body{
  font-weight: 100;
}

.comment__body:first-letter{
  text-transform: capitalize;
}

.comment__button{
  color: rgb(0, 89, 172);
  cursor: pointer;
}

.input{
  width: 50%;

}

.input__field{
  height: 6rem;
}

.nav{
  border-bottom: 2px solid $navColor;
}

$breakpoint-tablet: 1000px;
@media (max-device-width: $breakpoint-tablet), (max-width: $breakpoint-tablet) {
  .post, .post:nth-child(7n-6), .post:nth-child(7n-5) {
    width: 100%;
  }

  .post:nth-child(7n-6) .post__image, .post:nth-child(7n-5) .post__image, .post__image {
    height: 450px;
  }

}
