$myColor: black;

.post:first-child{
  width: 100%;
}

.post:nth-child(2), .post:nth-child(3), .post:nth-child(4){
  background-color: rgb(228, 228, 228);
}

.post{
  width: 30%;
  cursor: pointer;
  margin: 1rem;
}

.post:hover{
  text-decoration: underline;
}

.post__title {
  color: $myColor;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.post:nth-child(1) .post__image{
  height: 450px;
}

.post:nth-child(2) .post__image, .post:nth-child(3) .post__image, .post:nth-child(4) .post__image{
  display: none;
}

.post__image{
  width: 100%;
  height: 250px;
}